header {
    background-color: rgb(122, 122, 122) !important;
  }

.navPadding{
    padding-right: 7%;
}
.verde{
    color: hsla(120, 88%, 63%, 0.619);
}

.piePag{
display:inline;

}



.seccion1 {
    margin: 0;
    position: relative;
 
  }
  

.seccion1::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    background-color: rgba(0, 0, 0, 0.5); /* Cambia el valor de la opacidad aquí */
  }

  .texto{
    right: 0;
    left: auto;
    text-align: right;
    
  }
 
 
 
  .oradores{
    justify-content: center;
    background-color: white;
    text-align: center;


}
.carousel-caption button{
  float: right;
}

.carousel-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Ajusta la opacidad según tu preferencia */
}

.custom-darken::before {
  background-color: rgba(0, 0, 0, 0.5); /* Ajusta la opacidad según tu preferencia */
}

.carousel-caption {
  left: 50%;
  transform: translateX(-30%);
  width: 40%;
  text-align: right;
  position: absolute;
  top: 70%;
  transform: translateY(-30%);
  right: 0;
}
.foto{
  width:80% !important;

}
.bot{
  display: inline-block;
}
.javscr{
   padding: 0.1em !important;
  font-weight:bold !important;
  font-size: 0.7rem !important;
  margin-right: 0.2em !important;
}
.btns{
  text-align: left;
}
.textoCarta{
  text-align: left;
}

.imgPaisaje{

  width: 100%;

}

.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.paisaje {
  padding-right: 0;
  padding-left: 0;
}

.subrayado {
  border-bottom: 2px dotted black;
}

.letra{
color:white;
text-align: left;
padding:0.1em;

}
.textoChico{
  font-size: 0.7rem;

}

.btn-enviar {
  background-color: #62b862 !important;
  border: none!important;
}
footer{

  background-color: #1C3D4E;
color:white;
padding: 2em;
}
form{
  width: 60%;
  margin:auto;
}
.cuadrado1{
  border: 1px solid rgb(47, 0, 255); /* Cambia #f00 al color que desees */

}

.cuadrado2{
  border: 1px solid rgb(12, 213, 89); /* Cambia #f00 al color que desees */

}
.cuadrado3{
  border: 1px solid rgb(169, 213, 12); /* Cambia #f00 al color que desees */

}
.cuadrado{
  margin-bottom: 10%;
  margin-top: 10%;
  padding-top:5%;
  text-align: center;
  padding-left: 0.1%;
  padding-right: 0.1%;
}
.documentacion{
  font-size: 12px;
}
.celeste-semitransparente {
  background-color: rgba(157, 208, 255, 0.5); /* Ajusta el valor de la opacidad según tus necesidades */
  border: 0.5px solid rgba(114, 170, 247, 0.3); 
  width:80%;
  padding-top: 1rem;
  padding-bottom: 0.2rem; 
  padding-left: 3rem;
  margin: 0.70rem;
}
.pagar{
  padding-left: 0.8rem;
  color:  black; 

}