header {
    background-color: rgb(122, 122, 122) !important;
  }

.navPadding{
    padding-right: 7%;
}
.verde{
    color: hsla(120, 88%, 63%, 0.619);
}

.piePag{
display:inline;

}

.elfooter{
    
    background-color: rgb(75, 78, 138);
    padding: 2%;
    color:white;
}

.seccion1 {
    margin: 0;
    position: relative;
 
  }
  

.seccion1::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    background-color: rgba(0, 0, 0, 0.5); /* Cambia el valor de la opacidad aquí */
  }

  .texto{
    right: 0;
    left: auto;
    text-align: right;
    
  }
 
 
 
  .oradores{
    justify-content: center;
    background-color: white;
    text-align: center;


}
.carousel-caption button{
  float: right;
}

.carousel-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Ajusta la opacidad según tu preferencia */
}

.custom-darken::before {
  background-color: rgba(0, 0, 0, 0.5); /* Ajusta la opacidad según tu preferencia */
}

.carousel-caption {
  left: 50%;
  transform: translateX(-30%);
  width: 40%;
  text-align: right;
  position: absolute;
  top: 70%;
  transform: translateY(-30%);
  right: 0;
}
.foto{
  width:80% !important;

}
.bot{
  display: inline-block;
}
.javscr{
   padding: 0.1em !important;
  font-weight:bold !important;
  font-size: 0.7rem !important;
  margin-right: 0.2em !important;
}
.btns{
  text-align: left;
}
.textoCarta{
  text-align: left;
}

.imgPaisaje{

  width: 100%;

}

.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.paisaje {
  padding-right: 0;
  padding-left: 0;
}

.subrayado {
  border-bottom: 2px dotted black;
}

.letra{
color:white;
text-align: left;
padding:0.1em;

}
.textoChico{
  font-size: 0.7rem;

}

.btn-enviar {
  background-color: #62b862 !important;
  border: none!important;
}